@import "tokens/colors.css";
@import "tokens/widget.css";
@import "tokens/workspace.css";

* {
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
  font-size: 13px;
}

window#waybar {
  background: transparent;
}
/*
#workspaces {
  padding: 0 4px;
}

#workspaces button {
  color: #8f98a8;
  min-width: 28px;
  min-height: 24px;
  padding: 0 10px;
}

#workspaces button.active {
  color: #ffffff;
  background: #3b4252;
}

#workspaces button.urgent {
  color: #ffffff;
  background: #bf616a;
}
*/

