@import "style/colors.css";
@import "style/widget.css";
@import "style/workspace.css";

* {
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
  font-size: 13px;
}

window#waybar {
  background: transparent;
}
